/* importing from withing node_modules*/
@import "~normalize.css";

/*importing withing the app*/
@import "./theme.css";

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2.0rem;
}

p{
    font-size: 2rem;
}
